.reviewInfo {
  display: grid;
}

/* .reviewComment {
  display: grid;
  grid-template-columns: auto auto
} */
.review {
  display: grid;
  grid-template-columns: auto auto;
}

.checked {
  color: gray;
}

div {
  font-family: Helvetica;
  font-weight: lighter;
}